#Projects{
  padding : 50px 100px;
}

.Projects{
  display : flex;
  flex-direction : column;
  margin : 50px;
  border-radius : 15px;
  border : 1px solid hsla(0, 0%, 100%, 0.3);
  background-color : hsla(0, 0%, 30%, 0.2);
}

#projectName {
  padding : 0px 20px;
}

#description {
  padding : 0px 70px;
  font-size : 16px;
}


.Projects p{
  display : flex;
  align-items : center;
  font-size : 20px;
  margin-left : 15px;
}

#projectLinks{
  display : flex;
  padding : 0px 50px;
  font-size : 30px;
}
#projectLinks a{
  margin-right : 20px;
  margin-bottom : 5px;
  color : white;
  cursor : pointer;
}
